.about-page {
    padding-top: 6rem;
    padding-bottom: 3rem;

    @media #{$mobile_device} {
        padding-top: 50px;
        padding-bottom: 0px;
        overflow: visible;
    }

    @media #{$tablet_device} {
        padding: 50px 20px;
    }

    .about {
        &__title {
            margin-bottom: 2rem;
            font-size: 3rem;
            font-weight: 700;
        }

        &__text {
            font-size: 1.1rem;
            line-height: 1.6;
        }

        &__img_1 {
            margin-bottom: 30px;
        }
    }
}
