.contact-page {
    padding: 6rem;

    @media #{$mobile_device} {
        padding-top: 2rem;
    }

    &__iframe {
        width: 100%;
        height: 450px;

        @media #{$mobile_device} {
            height: 300px;
        }
    }

    .contact-btn {
        color: $dark-color;
        background: $primary-color-light;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid transparent;
        display: inline-block;
        padding: 12px 30px !important;
        @include transition(0.4s);

        &:hover {
            background: #fff;
            border: 1px solid $primary-color;
        }
    }
}

.form-contact {
    .form-group {
        margin-bottom: 30px;
    }
}

.contact-info {
    margin-bottom: 25px;

    &__icon {
        margin-right: 20px;

        i,
        span {
            color: $primary-color;
            font-size: 36px;
        }

        .fa-phone {
            margin-right: 5px;
        }
    }

    .media-body {
        h3 {
            margin-bottom: 0;
            font-size: 18px;

            a {
                color: $dark-color;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        p {
            color: $dark-grey;
        }
    }
}

@media #{$mobile_device} {
    .contact-page {
        padding: 50px 20px;
        overflow: visible;
    }
}

@media #{$tablet_device} {
    .contact-page {
        padding: 50px 20px;
    }
}
