.reservations-page {
    padding: 6rem;

    &__btn {
        color: $dark-color;
        background: $primary-color-light;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid transparent;
        display: inline-block;
        padding: 12px 30px !important;
        @include transition(0.4s);

        &:hover {
            background: #fff;
            border: 1px solid $primary-color;
        }
    }
}

@media #{$mobile_device} {
    .reservations-page {
        padding: 50px 0px;

        &__title {
            font-size: 1.8rem;
        }
    }
}

@media #{$tablet_device} {
    .reservations-page {
        padding: 50px 20px;
    }
}
