.reservations-page {
    padding: 6rem;

    &__title {
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 700;
    }

    &__btn {
        color: #131230;
        background: rgb(247, 197, 61);
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid transparent;
        display: inline-block;
        padding: 12px 30px !important;
        @include transition(.4s);

        &:hover {
            background: #fff;
            border: 1px solid rgb(247, 197, 61);
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
    .reservations-page {
        padding: 50px 20px;

        &__title {
            font-size: 1.8rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .reservations-page {
        padding: 50px 20px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
