.thankyou-page {
    height: 70vh;
    display: grid;
    align-items: center;

    &__title {
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 700;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.6;
    }
}

@media #{$mobile_device} {
    .thankyou-page {
        padding: 50px 20px;
        overflow: visible;
    }
}

@media #{$tablet_device} {
    .thankyou-page {
        padding: 50px 20px;
    }
}
