.footer {
    padding: 5rem 5rem;
    background: url(/img/curve_line.svg) repeat-x top left;

    @media #{$tablet_device} {
        padding: 2rem 2rem;
    }

    @media #{$mobile_device} {
        padding: 3rem 0;
    }

    &__link {
        color: $primary-color;

        &:hover {
            color: $primary-color-dark;
        }
    }

    &__title {
        @media #{$mobile_device} {
            font-size: 1.45rem;
        }
    }

    &__db-contact,
    &__open-hours {
        color: $dark-grey;
    }
}
