.services {
    padding: 7em 0;

    background: url(/img/curve_line.svg) repeat-x bottom left;

    &__icon {
        text-align: center;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
        background: $primary-color;

        & > span {
            color: #000;
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    &__title {
        @media #{$mobile_device} {
            font-size: 1.6rem;
        }
    }

    &__text {
        color: $dark-grey;
    }
}

.menu-slider {
    height: auto;
    margin: 6rem 1.2rem;

    @media #{$mobile_device} {
        margin: 6rem 0;
    }

    .food-preview {
        &__food-slider {
            width: 100%;
            overflow: hidden;
            position: relative;
            font-size: 0;
        }

        &__slide {
            position: relative;
            height: 450px;
            cursor: pointer;
            display: inline-block;
            white-space: normal;

            @media #{$mobile_device} {
                height: 350px;
            }

            &:before {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: 2;
                background: #000;
                opacity: 0.3;
            }
        }

        &__background {
            background: white;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            position: absolute;
            transition: transform 0.3s ease-in-out;
        }

        &__content {
            position: absolute;
            z-index: 2;
            padding: 20px;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 5rem 1fr 1fr;
            justify-items: center;
        }

        &__text {
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__food-title {
            color: $primary-color;
            color: #fff;
            font-size: 3rem;
            font-weight: 900;

            @media #{$mobile_device} {
                font-size: 2.3rem;
            }
        }

        &__food-description {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.8;
            margin-bottom: 2rem;
            color: #7a8d99;
            justify-content: center;
        }

        &__food-image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.why-us {
    padding: 6rem 0;

    &__service {
        @media #{$mobile_device} {
            font-size: 1.6rem;
        }
    }

    .accordion .btn-block[aria-expanded="false"] .icon:before {
        content: "\f2c7";
    }

    .accordion .btn-block[aria-expanded="true"] .icon:before {
        content: "\f2f4";
    }

    .accordion .btn-block[aria-expanded="true"] {
        color: $primary-color;
    }

    .accordion .btn-block .icon:before {
        font-family: "Ionicons";
        position: absolute;
    }

    .accordion .btn-block .icon {
        position: absolute;
        right: 30px;
        height: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 16px;
    }

    .accordion .btn-block[aria-expanded="false"] {
        color: #000;
    }

    .accordion .btn-block {
        position: relative;
        border-bottom: 1px solid #e6e6e6;
    }

    .accordion .btn-block .icon:before {
        font-family: "Ionicons";
        position: absolute;
    }
}

.home-offer {
    padding: 8rem 0;
    background-color: $lighter-grey;

    &__card-img {
        width: 100%;
        border-radius: calc(0.25rem - 1px);

        vertical-align: middle;
        border-style: none;
    }

    &__offer-card {
        background: $primary-color;
        color: white;
        text-align: center;
        padding: 45px 20px;
        box-shadow: -13px 2px 20px 0px rgba(8, 6, 89, 0.2);
        width: 120%;

        @media (max-width: 576px) {
            width: 100%;
        }

        @media (min-width: 576px) {
            position: relative;
            left: -110px;
            top: 70px;
            margin-bottom: 70px;
        }

        @media (min-width: 992px) {
            padding: 80px 20px;
        }

        h3 {
            font-size: 20px;
            text-transform: capitalize;
            color: white;
            margin-bottom: 10px;

            @media (min-width: 992px) {
                font-size: 40px;
                margin-bottom: 25px;
            }
        }

        h2 {
            font-size: 30px;
            text-transform: uppercase;
            color: white;
            margin-bottom: 15px;

            @media (min-width: 992px) {
                font-size: 60px;
                margin-bottom: 25px;
            }
        }
    }

    &__offer-button {
        border: 1px solid #fff;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        font-family: $font1;
        border-radius: 30px;
        padding: 12px 35px;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #fff;
            background-color: $primary-color-light;
        }

        @media (min-width: 600px) {
            padding: 14px 45px;
            font-size: 18px;
        }

        @media (min-width: 1100px) {
            padding: 16px 55px;
        }
    }
}
