.slider_bg_1 {
    background-image: url(../img/banner/slide1.jpg);
}

.slider_bg_2 {
    background-image: url(../img/banner/slide2.jpg);
}

.slider_bg_3 {
    background-image: url(../img/banner/slide3.jpg);
}

.slider_bg_4 {
    background-image: url(../img/banner/slide4.jpg);
}

.slider_area {
    position: relative;
    z-index: 0;
    width: 100vw;

    .single_slider {
        height: 93vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @media #{$mobile_device} {
            height: 50vh;
        }

        @media #{$tablet_device} {
            height: 600px;
        }

        .slider_text {
            @media #{$mobile_device} {
                margin: 100px 0 80px 0;
            }

            .deal_text {
                background: rgb(247, 197, 61);
                background-size: 100% 100%;
                display: inline-block;
                padding: 18px 42px;

                span {
                    font-size: 20px;
                    font-weight: 400;
                    color: #fff;
                }
            }

            h3 {
                font-size: 100px;
                text-transform: uppercase;
                font-weight: 400;
                line-height: 100px;
                margin-bottom: 27px;
                color: #fff;

                span {
                    font-weight: 700;
                }

                @media #{$mobile_device} {
                    font-size: 40px;
                    line-height: 45px;
                }

                @media #{$tablet_device} {
                    font-size: 54px;
                    line-height: 1.2;
                }

                @media #{$mid_device} {
                    font-size: 35px;
                }
            }

            h4 {
                font-size: 140px;
                // font-family: $font4;
                color: #f2c64d;
                position: relative;
                margin-top: -80px;

                @media #{$mobile_device} {
                    font-size: 50px;
                    position: relative;
                    margin-top: -50px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 400;
                color: #fff;
                margin-bottom: 24px;
                margin-top: 10px;

                @media #{$mid_device} {
                    font-size: 16px;
                }

                @media #{$mobile_device} {
                    font-size: 16px;
                }
            }
        }
    }
}
