@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");

// Body
$body-bg: #f8fafc;

// fonts
$font1: "Playfair Display", serif;
$font2: "Poppins", sans-serif;
$paragraph-font: "Open Sans", Arial, sans-serif;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: rgb(245, 185, 46);
$primary-color-dark: rgb(212, 159, 33);
$primary-color-light: rgb(247, 197, 61);
$dark-color: #2e2d2d;
$lighter-grey: #f5f5f5;
$light-grey: #dbdbdb;
$dark-grey: #7c7c7c;

$placeholder: #b0b0b0;
$overlay: rgba(1, 7, 16, 0.8);
$overlay2: rgba(1, 7, 16, 0.7);
