@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,500&display=swap');
@import "bootstrap.min.css";
@import "variables";
@import "reset";
@import "home";
@import "pages/about";
@import "menu/index";
@import "menu/single-menu";
@import "pages/reservations";
@import "pages/offers";

body {
    line-height: 1;
    background: white;
    font-family: "Roboto", sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    font-family: 'Montserrat', sans-serif;

}

input[type="text"],
input[type="email"],
select {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

button {
    outline: none;
    box-shadow: none !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
button:focus {
    border: 1px solid $darker-green !important;
}


option:hover {
    background-color: $darker-green !important;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px $darker-green inset;
}

h1,
h2,
h3,
h4 {
    color: $dark-color;
}

.button {
    background-color: $darker-green;
    color: #fff;

    &:hover {
        background-color: $darker-green-2;
    }
}

.app-layout {
    display: grid;
    // grid-template-columns: 350px 1fr;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__side-menu {
        background: white;
        padding: 50px;
        position: absolute;
        width: 20rem;
        height: 100vh;
    }

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__img {
        max-width: 100px;
    }

    &__menu {
        margin-top: 50px;
        margin-bottom: 80px;
        text-align: center;
    }

    &__menu-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
        border-bottom: 1px solid #e2eaef;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    &__links {
        li {
            a {
                font-size: 1.1rem;
                color: $dark-color;
                font-weight: 700;
                text-decoration: none;
                margin-bottom: 2rem;
                display: block;
                transition: color 0.3s ease-in-out;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }


    &__social-icons {
        display: flex;
        justify-content: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000;
            font-size: 0.9rem;
            text-decoration: none;
            color: white;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 10px;
            transition: 0.4s;

            &:hover {
                background-color: $primary-color-light;
            }
        }
    }

    &__location {
        align-self: center;
        position: absolute;
        bottom: 100px;
    }

    &__address {
        color: #697177;
        margin-bottom: 20px;
        line-height: 1.7;
    }

    &__phone-number {
        a {
            color: #15cf1e;
            font-size: 2rem;
            font-weight: 700;
            text-decoration: none;
        }
    }

    &__content-section {
        transform: translate3d(20rem, 0, 0);
        max-width: calc(100vw - 20rem);
        height: 100%;
        background: $primary-color-light;

        /* Old browsers */
        background: -moz-radial-gradient(center,
                ellipse cover,
                $primary-color-light 0%,
                $primary-color 100%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(center,
                ellipse cover,
                $primary-color-light 0%,
                $primary-color 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,
                $primary-color-light 0%,
                $primary-color 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        overflow: hidden;
    }
}

.information {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;

    &__restaurant-image {
        overflow: hidden;
        height: 100%;
    }

    &__img-left {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        font-size: 2.5rem;
    }

    &__info {
        padding: 100px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__paragraphs {
        display: grid;
        grid-gap: 2rem;
        line-height: 1.7;
        color: #525e66;
        font-size: 1.1rem;
        margin-bottom: 3rem;
    }

    &__about-link {
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
        color: #fff;
        background: #0bcc14;
        padding: 1rem 2rem;
        border-radius: 2.3rem;
        font-weight: 700;
        transition: .4s ease-in-out;

        &:hover {
            background: #12b11a;
            color: #fff;
        }

        span {
            margin-right: 20px;
        }
    }

    &__fa-chevron-right {
        color: white;
        font-size: 1.4rem !important;
    }
}

.food-preview {
    background: #f4f8fb;
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__button-rounded {
        background: #0bcc14;
        color: white;
        display: inline-block;
        padding: 15px;
        border-radius: 30px;
        margin-bottom: 130px;
    }

    .container {
        width: 100%;
        max-width: 1400px;
        position: relative;
    }

    &__left-btn,
    &__right-btn {
        background: #0bcc14;
        color: white;
        height: 50px;
        width: 50px;
        position: absolute;
        top: calc(50% - 25px);
        display: inline-block;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__left-btn {
        left: -35px;
    }

    &__right-btn {
        right: -35px;
    }

    &__food-slider {
        width: 100%;
        max-width: 1400px;
        overflow: hidden;
        position: relative;
        font-size: 0;
    }

    &__sliding-system {
        white-space: nowrap;
        transform: translate3d(-0%, 0, 0);
    }

    &__slide {
        width: 20%;
        position: relative;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        white-space: normal;

        // border-right: 1px solid #e9f0f4;
        &:hover {
            .food-preview__background {
                background: rgb(245, 185, 46);
                transform: translate3d(0, -200px, 0);
            }

            .food-preview__content {
                .food-preview__food-title {
                    color: white;
                }

                .food-preview__food-description {
                    color: white;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 250px;
        }
    }

    &__background {
        background: white;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }

    &__content {
        position: absolute;
        z-index: 2;
        padding: 20px;
        width: 100%;
        height: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        display: grid;
        grid-template-rows: 5rem 1fr 1fr;
        justify-items: center;
    }

    &__food-title {
        color: #0bcc14;
        font-size: 2rem;
        font-weight: 900;
        align-self: center;
        // transition: all .3s ease-in-out;
    }

    &__food-description {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 2rem;
        color: #7a8d99;
        justify-content: center;
    }

    &__food-image {
        align-self: center;
    }
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
    .app-layout {
        &__side-menu {
            display: none;
        }

        .welcome-jumbo {
            width: 100%;
            max-width: 100vw;
            padding: 20px;
            transform: translate3d(0, 0, 0);

            &__title {
                font-size: 3rem;
            }
        }

        &__content-section {
            width: 100%;
            max-width: 100vw;
            padding: 20px;
            transform: translate3d(0, 0, 0);
            overflow-y: scroll;
        }
    }

    .information {
        grid-template-columns: 1fr;
        grid-template-rows: min-content;

        &__restaurant-image {
            height: 30vh;
        }

        &__img-left {
            height: 100%;
        }

        &__title {
            font-size: 1.8rem;
        }

        &__info {
            padding: 50px 30px;
        }

        &__paragraphs {
            font-size: 1rem;
        }
    }

    .food-preview {
        padding: 50px 20px;
        width: 100%;
        overflow: hidden;

        &__left-btn {
            left: -20px;
        }

        &__right-btn {
            right: -20px;
        }

        &__title {
            font-size: 2rem;
            line-height: 1.1;
        }

        &__button-rounded {
            margin-bottom: 40px;
        }

        &__slide {
            width: 100%;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .app-layout {
        &__side-menu {
            transform: translate3d(-300px, 0, 0);
        }

        .welcome-jumbo {
            width: 100%;
            max-width: 100vw;
            padding: 20px;
            transform: translate3d(0, 0, 0);

            &__title {
                font-size: 5.5rem;
            }
        }

        &__content-section {
            width: 100%;
            max-width: 100vw;
            padding: 20px;
            transform: translate3d(0, 0, 0);
            // overflow-y: scroll;
        }
    }

    .information {
        grid-template-columns: 1fr;
        grid-template-rows: min-content;

        &__restaurant-image {
            height: 30vh;
        }

        &__img-left {
            height: 100%;
        }

        &__title {
            font-size: 1.8rem;
        }

        &__info {
            padding: 50px 30px;
        }

        &__paragraphs {
            font-size: 1rem;
        }
    }

    .food-preview {
        padding: 50px 20px;
        width: 100%;
        overflow: hidden;

        &__left-btn {
            left: -20px;
        }

        &__right-btn {
            right: -20px;
        }

        &__title {
            font-size: 2rem;
            line-height: 1.1;
        }

        &__button-rounded {
            margin-bottom: 40px;
        }

        &__slide {
            width: 50%;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


.content-box {
    background-color: #fff;
    padding: 8% 4rem;

    // Small devices
    @media (max-width: 767px) {
        padding: 8% 2rem;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991px) {
        .single-menu-page {
            padding: 50px 10px;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 8% 2rem;
    }
}
