@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,500&display=swap');
@import "bootstrap.min.css";
@import "variables";
@import "reset";
@import 'responsive';
@import 'theme-default';
@import "home";
@import "header";
@import "banner";
@import "slider";
@import "slick-slider";
@import "pages/about";
@import "menu/index";
@import "menu/single-menu";
@import "pages/reservations";
@import "pages/offers";

.menu-slider {
    height: auto;
    padding-bottom: 6rem;
}

.food-preview {
    background: #f4f8fb;
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title {
        text-align: center;
        margin-bottom: 3rem;

    }

    &__food-slider {
        width: 100%;
        max-width: 1400px;
        overflow: hidden;
        position: relative;
        font-size: 0;
    }

    &__slide {
        position: relative;
        height: 700px;
        cursor: pointer;
        display: inline-block;
        white-space: normal;

        &:before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 2;
            background: #000;
            opacity: .3;
        }
    }

    &__background {
        background: white;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }

    &__content {
        position: absolute;
        z-index: 2;
        padding: 20px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 5rem 1fr 1fr;
        justify-items: center;
    }

    &__text {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__food-title {
        color: $primary-color;
        color: #fff;
        font-size: 3rem;
        font-weight: 900;
    }

    &__food-description {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 2rem;
        color: #7a8d99;
        justify-content: center;
    }

    &__food-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
    .app-layout {
        &__content-section {}
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .app-layout {
        &__side-menu {
            transform: translate3d(-300px, 0, 0);
        }

        .welcome-jumbo {
            width: 100%;
            max-width: 100vw;
            padding: 20px;
            transform: translate3d(0, 0, 0);

            &__title {
                font-size: 5.5rem;
            }
        }

        &__content-section {}
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

.content-box {
    background-color: #fff;
    // padding: 8% 4rem;

    // Small devices
    @media (max-width: 767px) {
        padding: 8% 2rem;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991px) {
        .single-menu-page {
            padding: 50px 10px;
        }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 8% 2rem;
    }
}
