@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Proza+Libre:400,500&display=swap");
@import url(f:\php-projects\restaurant-app\resources\sass\bootstrap.min.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.welcome-jumbo {
  -webkit-transform: translate3d(20rem, 0, 0);
          transform: translate3d(20rem, 0, 0);
  max-width: calc(100vw - 20rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1dfa28;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #1dfa28 0%, #04b90d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow: hidden;
  padding: 100px;
}

.welcome-jumbo__status {
  display: inline-block;
  padding: 10px 16px;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  background: black;
  border-radius: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 20px;
}

.welcome-jumbo__title {
  font-size: 5rem;
  font-weight: 900;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
  margin-bottom: 100px;
}

.welcome-jumbo__burger-fries {
  width: 100%;
  position: relative;
}

.about-page {
  padding: 10rem;
}

.about-page__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.about-page__text {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .about-page {
    padding: 50px 20px;
    overflow: visible;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-page {
    padding: 50px 20px;
  }
}

.menu-page {
  padding: 4rem 5rem;
}

.menu-page .food-preview__title {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 700;
}

.menu-page .food-preview__button-rounded {
  margin-bottom: 2rem;
}

.menu-page .food-preview__text {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .menu-page {
    padding: 50px 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-page {
    padding: 50px 20px;
  }
}

.single-menu-page {
  padding: 4rem 5rem;
}

.single-menu-page .single-menu__title {
  font-size: 2.5rem;
  color: #04b90d;
}

.single-menu-page .single-menu__wrapper {
  margin: 1rem 0;
}

.single-menu-page .single-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: .5rem;
}

.single-menu-page .single-menu__name, .single-menu-page .single-menu__price {
  font-size: 1.4rem;
}

.single-menu-page .single-menu__name {
  color: #2e2d2d;
}

.single-menu-page .single-menu__price {
  color: #039c0a;
}

.single-menu-page .single-menu__description {
  color: #7c7c7c;
}

@media (max-width: 767px) {
  .single-menu-page {
    padding: 30px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-menu-page {
    padding: 50px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .single-menu-page {
    padding: 50px 0px;
  }
}

.waitlist-page {
  padding: 6rem;
}

.waitlist-page__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.waitlist-page__text {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .waitlist-page {
    padding: 50px 20px;
    overflow: visible;
  }
  .waitlist-page__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .waitlist-page {
    padding: 50px 20px;
  }
}

.offers-page {
  padding: 6rem;
}

.offers-page__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.offers-page__text {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .offers-page {
    padding: 50px 0px;
    overflow: visible;
  }
  .offers-page__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .offers-page__title {
    font-size: 2rem;
  }
}

body {
  line-height: 1;
  background: white;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

input[type="text"],
input[type="email"],
select {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #ccc !important;
}

button {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
button:focus {
  border: 1px solid #039c0a !important;
}

h1,
h2,
h3,
h4 {
  color: #2e2d2d;
}

.button {
  background-color: #039c0a;
  color: #fff;
}

.button:hover {
  background-color: #03ca0d;
}

.app-layout {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.app-layout__side-menu {
  background: white;
  padding: 50px;
  position: absolute;
  width: 20rem;
  height: 100vh;
}

.app-layout__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.app-layout__img {
  max-width: 100px;
}

.app-layout__menu {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}

.app-layout__menu-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid #e2eaef;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.app-layout__links li a {
  font-size: 1.1rem;
  color: #2e2d2d;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 2rem;
  display: block;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.app-layout__links li a:hover {
  color: #04b90d;
}

.app-layout__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-layout__social-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.app-layout__social-icons a:hover {
  background-color: #1dfa28;
}

.app-layout__location {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 100px;
}

.app-layout__address {
  color: #697177;
  margin-bottom: 20px;
  line-height: 1.7;
}

.app-layout__phone-number a {
  color: #15cf1e;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}

.app-layout__content-section {
  -webkit-transform: translate3d(20rem, 0, 0);
          transform: translate3d(20rem, 0, 0);
  max-width: calc(100vw - 20rem);
  height: 100%;
  background: #1dfa28;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #1dfa28 0%, #04b90d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow: hidden;
}

.information {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
}

.information__restaurant-image {
  overflow: hidden;
  height: 100%;
}

.information__img-left {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.information__title {
  font-size: 2.5rem;
}

.information__info {
  padding: 100px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information__paragraphs {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  line-height: 1.7;
  color: #525e66;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.information__about-link {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none !important;
  color: #fff;
  background: #0bcc14;
  padding: 1rem 2rem;
  border-radius: 2.3rem;
  font-weight: 700;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.information__about-link:hover {
  background: #12b11a;
  color: #fff;
}

.information__about-link span {
  margin-right: 20px;
}

.information__fa-chevron-right {
  color: white;
  font-size: 1.4rem !important;
}

.food-preview {
  background: #f4f8fb;
  padding: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.food-preview__title {
  text-align: center;
  margin-bottom: 3rem;
}

.food-preview__button-rounded {
  background: #0bcc14;
  color: white;
  display: inline-block;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 130px;
}

.food-preview .container {
  width: 100%;
  max-width: 1400px;
  position: relative;
}

.food-preview__left-btn, .food-preview__right-btn {
  background: #0bcc14;
  color: white;
  height: 50px;
  width: 50px;
  position: absolute;
  top: calc(50% - 25px);
  display: inline-block;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.food-preview__left-btn {
  left: -35px;
}

.food-preview__right-btn {
  right: -35px;
}

.food-preview__food-slider {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  position: relative;
  font-size: 0;
}

.food-preview__sliding-system {
  white-space: nowrap;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.food-preview__slide {
  width: 20%;
  position: relative;
  height: 500px;
  cursor: pointer;
  display: inline-block;
  white-space: normal;
}

.food-preview__slide:hover .food-preview__background {
  background: #f5b92e;
  -webkit-transform: translate3d(0, -200px, 0);
          transform: translate3d(0, -200px, 0);
}

.food-preview__slide:hover .food-preview__content .food-preview__food-title {
  color: white;
}

.food-preview__slide:hover .food-preview__content .food-preview__food-description {
  color: white;
}

.food-preview__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 250px;
}

.food-preview__background {
  background: white;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.food-preview__content {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem 1fr 1fr;
      grid-template-rows: 5rem 1fr 1fr;
  justify-items: center;
}

.food-preview__food-title {
  color: #0bcc14;
  font-size: 2rem;
  font-weight: 900;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.food-preview__food-description {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #7a8d99;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.food-preview__food-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .app-layout__side-menu {
    display: none;
  }
  .app-layout .welcome-jumbo {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .app-layout .welcome-jumbo__title {
    font-size: 3rem;
  }
  .app-layout__content-section {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    overflow-y: scroll;
  }
  .information {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
  }
  .information__restaurant-image {
    height: 30vh;
  }
  .information__img-left {
    height: 100%;
  }
  .information__title {
    font-size: 1.8rem;
  }
  .information__info {
    padding: 50px 30px;
  }
  .information__paragraphs {
    font-size: 1rem;
  }
  .food-preview {
    padding: 50px 20px;
    width: 100%;
    overflow: hidden;
  }
  .food-preview__left-btn {
    left: -20px;
  }
  .food-preview__right-btn {
    right: -20px;
  }
  .food-preview__title {
    font-size: 2rem;
    line-height: 1.1;
  }
  .food-preview__button-rounded {
    margin-bottom: 40px;
  }
  .food-preview__slide {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app-layout__side-menu {
    -webkit-transform: translate3d(-300px, 0, 0);
            transform: translate3d(-300px, 0, 0);
  }
  .app-layout .welcome-jumbo {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .app-layout .welcome-jumbo__title {
    font-size: 5.5rem;
  }
  .app-layout__content-section {
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .information {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: min-content;
        grid-template-rows: -webkit-min-content;
        grid-template-rows: min-content;
  }
  .information__restaurant-image {
    height: 30vh;
  }
  .information__img-left {
    height: 100%;
  }
  .information__title {
    font-size: 1.8rem;
  }
  .information__info {
    padding: 50px 30px;
  }
  .information__paragraphs {
    font-size: 1rem;
  }
  .food-preview {
    padding: 50px 20px;
    width: 100%;
    overflow: hidden;
  }
  .food-preview__left-btn {
    left: -20px;
  }
  .food-preview__right-btn {
    right: -20px;
  }
  .food-preview__title {
    font-size: 2rem;
    line-height: 1.1;
  }
  .food-preview__button-rounded {
    margin-bottom: 40px;
  }
  .food-preview__slide {
    width: 50%;
  }
}

.content-box {
  background-color: #fff;
  padding: 8% 4rem;
}

@media (max-width: 767px) {
  .content-box {
    padding: 8% 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content-box .single-menu-page {
    padding: 50px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .content-box {
    padding: 8% 2rem;
  }
}
/*# sourceMappingURL=app.css.map */