@import url(https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap);@charset "UTF-8";

/* Normal desktop :1200px. */

/* Normal desktop :992px. */

/* Tablet desktop :768px. */

/* small mobile :320px. */

/* Large Mobile :480px. */

a,
.button {
  transition: 0.3s;
}

a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #fff;
  text-decoration: none;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer li a:hover {
  text-decoration: none;
}

.form-control:focus {
  border-color: #f5b92e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p,
span {
  font-family: "Open Sans", Arial, sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #040e27;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}

/* button style */

.owl-carousel .owl-nav div {
  background: transparent;
  height: 54px;
  left: 0px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 54px;
  font-size: 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 50px;
  font-size: 18px;
  line-height: 54px;
}

.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 50px;
}

.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: 1px;
}

.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 1px;
  top: 0px;
}

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #f7c53d;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
  background: #fff;
  display: flex;
  align-items: center;
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 478px) {
  #header {
    height: 64px;
  }
}

#header #logo {
  float: left;
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  #header #logo {
    display: flex;
    align-items: center;
    height: 64px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin-left: 18px;
  }
}

#header #logo img {
  height: 40px;
}

@media (max-width: 768px) {
  #header #logo img {
    height: 36px;
  }
}

@media (max-width: 478px) {
  #header #logo img {
    height: 34px;
  }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  left: 0;
  z-index: 1000000000;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
  align-content: center;
}

.nav-menu > li {
  float: left;
}

/* Nav Menu Container */

#nav-menu-container {
  float: right;
  margin-top: 8px;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Menu Styling */

.nav-menu a {
  padding: 0 8px 14px 8px;
  text-decoration: none;
  display: inline-block;
  color: #2c2c2c;
  font-size: 16px;
  outline: none;
  transition: 0.4s ease-in-out;
}

.nav-menu > li {
  margin-left: 22px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 16px 14px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #2c2c2c;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 10px;
  bottom: 0;
  z-index: 998;
  background: #fac800;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
  border-bottom: 1px solid #fff;
}

#mobile-nav ul li a {
  color: #181818;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 30px 80px;
  position: relative;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li:last-child {
  border-bottom: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #fff;
}

.banner-area {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner-area2 {
  padding: 220px 0 210px;
  z-index: 1;
}

.banner-area2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.7);
  z-index: -1;
}

.banner-area2 h3 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 100px;
  margin-bottom: 27px;
  color: #fff;
}

.banner-area2 p {
  font-size: 1.7rem;
  font-weight: 300;
  color: #fff;
}

.menu-bg {
  background-image: url(/images/menu-bg.jpg?b29b3177ce7799c1b450ccbce983075c);
}

.reservations-bg {
  background-image: url(/images/reservation-bg.jpg?c762a59150320967f29d29883c72aa24);
}

.offers-bg {
  background-image: url(/images/offers-bg.jpg?ceedb742ac0094dcae314e5700671623);
}

.about-bg {
  background-image: url(/images/about-bg.jpg?ba89cdcad591184d4cb3db156a724eb5);
}

.contact-bg {
  background-image: url(/images/contact-bg.jpg?0b20f1640cd2079d2572db347403de39);
}

.thankyou-bg {
  background-image: url(/images/thankyou-bg.jpg?c762a59150320967f29d29883c72aa24);
}

@media (max-width: 767px) {
  .banner-area2 {
    padding: 100px 0 80px;
  }

  .banner-area2 h3 {
    font-size: 2rem;
  }
}

.slider_bg_1 {
  background-image: url(/images/slide1.jpg?630204750bc8f109272bef0cc2317876);
}

.slider_bg_2 {
  background-image: url(/images/slide2.jpg?e9c53c810955e61c8e8ec882f3b75deb);
}

.slider_bg_3 {
  background-image: url(/images/slide3.jpg?d6df878b4555600511cd443289e2fe0f);
}

.slider_bg_4 {
  background-image: url(/images/slide4.jpg?391631cb9de9cedf783a7bb7089f1375);
}

.slider_area {
  position: relative;
  z-index: 0;
  width: 100vw;
}

.slider_area .single_slider {
  height: 93vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  .slider_area .single_slider {
    height: 50vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text {
    margin: 100px 0 80px 0;
  }
}

.slider_area .single_slider .slider_text h3 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100px;
  margin-bottom: 27px;
  color: #fff;
}

.slider_area .single_slider .slider_text h3 span {
  font-weight: 700;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 40px;
    line-height: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 54px;
    line-height: 1.2;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 35px;
  }
}

.slider_area .single_slider .slider_text h4 {
  font-size: 140px;
  color: #f2c64d;
  position: relative;
  margin-top: -80px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h4 {
    font-size: 50px;
    position: relative;
    margin-top: -50px;
  }
}

.slider_area .single_slider .slider_text p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
  margin-top: 10px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text p {
    font-size: 16px;
  }
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.3rem;
}

.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #dbdbdb;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #f5b92e;
}

.services {
  padding: 7em 0;
  background: url(/img/curve_line.svg) repeat-x bottom left;
}

.services__icon {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  background: #f5b92e;
}

.services__icon > span {
  color: #000;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services__text {
  color: #7c7c7c;
}

.about-home {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .about-home__title {
    font-size: 2.2rem;
  }
}

.about-home__btn {
  color: #131230;
  background: #f7c53d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-block;
  padding: 12px 30px !important;
  transition: 0.4s;
}

.about-home__btn:hover {
  background: #fff;
  border: 1px solid #f7c53d;
}

.menu-slider {
  height: auto;
  margin: 6rem 1.2rem;
}

.food-preview {
  background: #f4f8fb;
  padding: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.food-preview__title {
  text-align: center;
  margin-bottom: 3rem;
}

.food-preview__food-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 0;
}

.food-preview__slide {
  position: relative;
  height: 450px;
  cursor: pointer;
  display: inline-block;
  white-space: normal;
}

.food-preview__slide:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  background: #000;
  opacity: 0.3;
}

.food-preview__background {
  background: white;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.food-preview__content {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr 1fr;
  justify-items: center;
}

.food-preview__text {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.food-preview__food-title {
  color: #f5b92e;
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
}

.food-preview__food-description {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #7a8d99;
  justify-content: center;
}

.food-preview__food-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.food-preview__food-image:hover {
  transform: scale(1.1);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.why-us {
  padding: 6rem 0;
}

.why-us .accordion .btn-block[aria-expanded=false] .icon:before {
  content: "\F2C7";
}

.why-us .accordion .btn-block[aria-expanded=true] .icon:before {
  content: "\F2F4";
}

.why-us .accordion .btn-block[aria-expanded=true] {
  color: #f5b92e;
}

.why-us .accordion .btn-block .icon:before {
  font-family: "Ionicons";
  position: absolute;
}

.why-us .accordion .btn-block .icon {
  position: absolute;
  right: 30px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.why-us .accordion .btn-block[aria-expanded=false] {
  color: #000;
}

.why-us .accordion .btn-block {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.why-us .accordion .btn-block .icon:before {
  font-family: "Ionicons";
  position: absolute;
}

.home-offer {
  padding: 8rem 0;
  background-color: #f5f5f5;
}

.home-offer__card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
  vertical-align: middle;
  border-style: none;
}

.home-offer__offer-card {
  background: #f5b92e;
  color: white;
  text-align: center;
  padding: 45px 20px;
  box-shadow: -13px 2px 20px 0px rgba(8, 6, 89, 0.2);
  width: 120%;
}

@media (max-width: 576px) {
  .home-offer__offer-card {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .home-offer__offer-card {
    position: relative;
    left: -110px;
    top: 70px;
    margin-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .home-offer__offer-card {
    padding: 80px 20px;
  }
}

.home-offer__offer-card h3 {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .home-offer__offer-card h3 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}

.home-offer__offer-card h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .home-offer__offer-card h2 {
    font-size: 60px;
    margin-bottom: 25px;
  }
}

.home-offer__offer-button {
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  border-radius: 30px;
  padding: 12px 35px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.home-offer__offer-button:hover {
  color: #fff;
  background-color: #fbc441;
}

@media (min-width: 600px) {
  .home-offer__offer-button {
    padding: 14px 45px;
    font-size: 18px;
  }
}

@media (min-width: 1100px) {
  .home-offer__offer-button {
    padding: 16px 55px;
  }
}

.menu {
  padding: 6rem 0;
}

.menu__title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.menu__img-wrapper {
  overflow: hidden;
}

.menu__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 350px;
  width: 100%;
  transition: 0.5s;
}

.menu__category-title {
  font-size: 2.3rem;
  font-weight: 600;
}

.menu__food-content {
  padding: 30px;
  min-height: 14.3rem;
  background: #f9f9ff;
  transition: 0.5s;
}

.menu__single-food {
  margin-bottom: 3rem;
}

.menu__single-food:hover .menu__food-content {
  background-color: #f5b92e;
}

.menu__single-food:hover .menu__text {
  color: #000;
}

.menu__single-food:hover img {
  transform: scale(1.1, 1.1);
}

.single-menu-page {
  padding: 6rem 0;
}

.single-menu-page .single-menu__title {
  font-size: 2.5rem;
  color: #f5b92e;
}

.single-menu-page .single-menu__wrapper {
  margin: 1rem 0;
  padding: 0 0.5rem;
}

.single-menu-page .single-menu__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.single-menu-page .single-menu__name,
.single-menu-page .single-menu__price {
  font-size: 1.2rem;
  font-weight: bolder;
}

.single-menu-page .single-menu__name {
  color: #2e2d2d;
}

.single-menu-page .single-menu__price {
  color: #f5b92e;
  margin-top: -2px;
  padding-left: 4px;
}

@media (max-width: 767px) {
  .single-menu-page {
    padding: 30px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-menu-page {
    padding: 50px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .single-menu-page {
    padding: 50px 0px;
  }
}

.about-page {
  padding: 10rem;
}

.about-page__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.about-page__text {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .about-page {
    padding: 50px 20px;
    overflow: visible;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-page {
    padding: 50px 20px;
  }
}

.reservations-page {
  padding: 6rem;
}

.reservations-page__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.reservations-page__btn {
  color: #131230;
  background: #f7c53d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-block;
  padding: 12px 30px !important;
  transition: 0.4s;
}

.reservations-page__btn:hover {
  background: #fff;
  border: 1px solid #f7c53d;
}

@media (max-width: 767px) {
  .reservations-page {
    padding: 50px 20px;
  }

  .reservations-page__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .reservations-page {
    padding: 50px 20px;
  }
}

.offers-page {
  padding: 6rem;
}

.offers-page__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.offers-page__btn {
  color: #131230;
  background: #f7c53d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-block;
  padding: 12px 30px !important;
  transition: 0.4s;
}

.offers-page__btn:hover {
  background: #fff;
  border: 1px solid #f7c53d;
}

@media (max-width: 767px) {
  .offers-page {
    padding: 50px 0px;
    overflow: visible;
  }

  .offers-page__title {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .offers-page__title {
    font-size: 2rem;
  }
}

.thankyou-page {
  height: 70vh;
  display: grid;
  align-items: center;
}

.thankyou-page__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.thankyou-page__text {
  font-size: 1.4rem;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .thankyou-page {
    padding: 50px 20px;
    overflow: visible;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .thankyou-page {
    padding: 50px 20px;
  }
}

.contact-page {
  padding: 10rem;
}

.contact-page__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.contact-page__text {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .contact-page {
    padding-top: 2rem;
  }
}

.contact-page__iframe {
  width: 100%;
  height: 450px;
}

@media (max-width: 767px) {
  .contact-page__iframe {
    height: 300px;
  }
}

.contact-page .contact-btn {
  color: #131230;
  background: #f7c53d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-block;
  padding: 12px 30px !important;
  transition: 0.4s;
}

.contact-page .contact-btn:hover {
  background: #fff;
  border: 1px solid #f7c53d;
}

.form-contact label {
  font-size: 14px;
}

.form-contact .form-group {
  margin-bottom: 30px;
}

.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.form-contact .form-control::-webkit-input-placeholder {
  font-weight: 300;
  color: #999999;
}

.form-contact .form-control::-moz-placeholder {
  font-weight: 300;
  color: #999999;
}

.form-contact .form-control:-ms-input-placeholder {
  font-weight: 300;
  color: #999999;
}

.form-contact .form-control::-ms-input-placeholder {
  font-weight: 300;
  color: #999999;
}

.form-contact .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
}

.contact-info {
  margin-bottom: 25px;
}

.contact-info__icon {
  margin-right: 20px;
}

.contact-info__icon i,
.contact-info__icon span {
  color: #f5b92e;
  font-size: 36px;
}

.contact-info__icon .fa-phone {
  margin-right: 5px;
}

.contact-info .media-body h3 {
  margin-bottom: 0;
  font-size: 18px;
  color: #2a2a2a;
}

.contact-info .media-body h3 a:hover {
  color: #f5b92e;
}

.contact-info .media-body p {
  color: #6e6e6e;
}

@media (max-width: 767px) {
  .contact-page {
    padding: 50px 20px;
    overflow: visible;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-page {
    padding: 50px 20px;
  }
}

.footer {
  padding: 5rem 5rem;
  background: url(/img/curve_line.svg) repeat-x top left;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding: 2rem 2rem;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 3rem 0;
  }
}

.footer__link {
  color: #f5b92e;
}

.footer__link:hover {
  color: #d49f21;
}

.footer__db-contact,
.footer__open-hours {
  color: #7c7c7c;
}

.app-layout {
  margin-top: 70px;
  overflow-x: hidden;
}

