.menu {
    padding: 5rem 0;

    &__title {
        font-size: 3rem;
        text-align: center;
    }

    &__img-wrapper {
        overflow: hidden;

        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
    }

    &__img {
        display: block;

        object-fit: cover;
        object-position: center center;
        height: 350px;
        width: 100%;
        transition: 0.5s;
    }

    &__category-title {
        font-size: 1.7rem;
        font-weight: 500;
    }

    &__food-content {
        padding: 30px;
        min-height: 14.3rem;
        background: #f9f9ff;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    &__single-food {
        margin-bottom: 3rem;

        &:hover .menu__food-content {
            background-color: $primary-color;
        }

        &:hover .menu__text {
            color: #000;
        }

        &:hover img {
            -webkit-transform: scale(1.1, 1.1);
            -moz-transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            -o-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
        }
    }
}
