.single-menu-page {
    padding: 6rem 0;

    & .single-menu {
        &__title {
            color: $primary-color;
        }

        &__item {
            margin-bottom: 3.5rem;
            padding: 0 0.5rem;
        }

        &__name-and-price {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 0.5rem;
        }

        &__name,
        &__price {
            font-size: 1.2rem;
            font-weight: bolder;
        }

        &__name {
            color: $dark-color;
        }

        &__price {
            color: $primary-color;
            margin-top: -2px;
            padding-left: 4px;
        }
    }
}

@media #{$mobile_device} {
    .single-menu-page {
        padding: 30px 0px;
    }
}

@media #{$tablet_device} {
    .single-menu-page {
        padding: 50px 10px;
    }
}

@media #{$mid_device} {
    .single-menu-page {
        padding: 50px 0px;
    }
}
