.single-menu-page {
    padding: 4rem 5rem;

    & .single-menu {
        &__title {
            font-size: 2.5rem;
            color: $primary-color;
        }

        &__wrapper {
            margin: 1rem 0;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: .5rem;
        }

        &__name,
        &__price {
            font-size: 1.4rem;
        }

        &__name {
            color: $dark-color;
        }

        &__price {
            color: $darker-green;
        }

        &__description {
            color: $dark-grey;
        }
    }

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
    .single-menu-page {
        padding: 30px 0px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .single-menu-page {
        padding: 50px 10px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .single-menu-page {
        padding: 50px 0px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
